extends layout

block content
  h1 Bug Solver
  p.lead BugSolver is an innovative AI-powered hackathon app designed to help developers quickly find solutions to bugs and incidents they encounter while building software. With its intuitive interface and collaborative problem-solving features, BugSolver empowers developers to save time and effort by leveraging the collective knowledge of the development community.
  hr.mb-lg-4
  .row
    .col-md-6
      form.card
        .card-body.row.gap-2.p-5
          h1.p-0 Insert a new bug
          label.p-0.mt-2(for="textarea") How it happened
          textarea.p-4
          label.p-0.mt-2(for="input") Person in charge
          input(type="text")
          label.p-0.mt-2(for="textarea") Solution
          textarea.p-4
          button.mt-4.col-md-3.btn.btn-primary(type='submit')
            | Submit


